################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.idea
/.vs
/vqmod
/vendor
/image/cache/catalog/demo/product
/image/cache/catalog/demo
